<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Lab Login</title>
</head>

<body>
    <h1>MOBILE LAB LOGIN PAGE</h1>
    <form action="/login" method="post">
        Username:<br>
        <input type="text" id="txtUsername" name="username"/><br>
        Password:<br>
        <input type="password" id="txtPassword" name="password"/> <br>
        <input type="submit" id="btnSubmit" value="Log in"/>
    </form>
</body>

<footer>

</footer>
</html>