<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Lab Login</title>
</head>

<body>
    <h1>NODE PARKING LOGIN PAGE</h1>
    <form action="/login" method="post">
        Username:<br>
        <input type="text" id="txtUsername" name="username" value="parking"/><br>
        Password:<br>
        <input type="password" id="txtPassword" name="password" value="parking"/> <br>
        <input type="submit" id="btnSubmit" value="Log in"/>
        <% if (locals.failed) { %>
            <h2><%= failed %></h2>
        <% } %>
    </form>
</body>

<footer>

</footer>
</html>